$(".popover-content").html("dimension: <%= @dimensions %>");
$("#image_blender_<%= params[:img_trigger]%>").siblings('.img_dimensions').html("<a class = 'btn btn-default btn-sm' href = '#'><i class = 'fa fa-file-image-o'></i>  dimensions: <%= @dimensions %></a>");
