%video.video-js.vjs-default-skin{controls: "controls", preload: "auto", data:{setup: "{}"}, width: "100%", height: "641"}
  %source{src: "/system/sandbox/slider/video/blender_export_small.mp4", type: "video/mp4"}
