- title = 'Getting started with blender sandbox'
= content_for(:title) { title }
= content_for(:javascripts){javascript_include_tag 'jquery.sliderPro.min'}
= content_for(:stylesheets){stylesheet_link_tag 'slider-pro.min'}
- breadcrumb :root

= render partial: 'authorized'
