%th.text-center ID
%th Photo Type
%th Person Intials
%th.text-center Person ID
%th.text-center Person Gender
%th.text-center Person Birth Year
%th.text-center Person Photo
%th.text-center{title: 'Download Photo'}
	= fa_icon 'download'
