- unless f.object.new_record?
	.form-group
		= f.label :id, t('id')
		= text_field_tag '', f.object.id, class: "form-control", disabled: "disabled"
.form-group
	=f.label :name, t('admin_user_company.name')
	=f.text_field :name, class: "form-control"
