<div class="footer">
  <div class='container'>
    <div class="footer-row1">
      <img class="footer-logo-img" src="<%= img_path %>/echo_mailler/footer-logo1.png">
      <p class="mb-0">Terms & conditions - Privacy policy - Copyrights Notification</p>
    </div>
    <div class="footer-row2">
      <p class="mb-0">Echo Video Blender is a project by Valynteen Solutions</p>
      <p class="mb-0"> Copyright &copy; <%= Time.now.year %> Valynteen Solutions.</p>
    </div>
  </div>
</div>
