<table class="header">
  <tr>
    <td class="td-eq1">
      <a class="h-logo-link" href="<%= Rails.configuration.routes_default_url_options[:host] %>/sandbox">
        <img class="h-logo-img" src="<%= img_path %>/echo_mailler/header-logo.png">
      </a>
    </td>
    <td class="td-eq2">
      <%= link_to "Get Started", @get_started_url, class: "custom-btn", target: "_blank" %>
    </td>
  </tr>
</table>
