<div class="row title-block" style="margin-bottom: 3px;">
	<div class="col-md-11">
		<div>
			<input class="form-control source-video-title-array" placeholder="Add Source Video Title ..." value="<%= title %>" />
		</div>		
	</div>
	<div class="col-md-1">
		<a href="javascript://" class="btn btn-<%= first == true ? 'primary' : 'danger' %> btn-<%= first == true ? 'add' : 'remove' %>-title">
	  		<i class="fa fa-<%= first == true ? 'plus' : 'minus' %>"></i>
		</a>
	</div>
</div>