<% title 'Password generator' %>

<% breadcrumb :password_generator %>

<div class="row">
	<div class="col-md-4">
		<input type="text" class="form-control" id="password_generator"/>
	</div>
	<div class="col-md-8"><button class="btn btn-primary" id="btn_generate">Generate</button></div>
</div>