//=javascript_include_tag 'https://maps.googleapis.com/maps/api/js?sensor=false'
=javascript_include_tag 'https://www.google.com/jsapi'
//=javascript_include_tag 'jquery_gmap3'
=javascript_include_tag 'dashboard'
=stylesheet_link_tag 'dashboard'

:javascript
	google.load('visualization', '1.0', {'packages':['corechart']});
