<footer>
  <div class="col-xs-9">
    <p class="footer-row">MACH ONE MEDIA GROUP - 55 PIERCE LANE SUITE 204 MONTOURSVILLE, PA 17754</p>
    <p class="footer-row">
      <b>PHONE: <span class="footer-client-phone">570-368-7633</span> - EMAIL: <span class="footer-client-email">ROYCE@MACHONEMEDIAGROUP.COM</span></b>
    </p>
  </div>
  <div class="col-xs-3">
    <%= wicked_pdf_image_tag "/images/public_client/footer-logo.png", class: "footer-logo" %>
  </div>
</footer>
