// Place all the styles related to the artifacts/human_photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.artifacts_human_photos{
	&.index{
		.human-photo-thumb{
			width: 64px;
			height: 64px;
			object-fit: cover;			
		}
	}
}
