// Info box
#infoBox{class: "modal fade"}
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				%button{type: "button", class: "close", data: {dismiss: "modal"}, "aria-label" => "Close"} &times;
				%h4.modal-title
					%b Information
					Cutscene
			.modal-body
