<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Greetings!</h1>
		<p>You’ve got a notification which was sent through the Contact Us form. To review it, please follow the link <a href="http://broadcaster.beazil.net/sandbox/contact_us/listing">http://broadcaster.beazil.net/sandbox/contact_us/listing</a></p>
		<p>Thank You.</p>
	</body>
</html>
