- centered_columns = %w(id)
- %w(id period at job_group job_type job_value description is_active).each do |c|
	%th{class: "#{c} #{centered_columns.include?(c) ? 'text-center' : ''}"}= t("whenever_cron_job.#{c}")
