- centered_columns = %w(is_active order_nr)
- %w(id sandbox_client_id source_video_id title order_nr is_active).each do |c|
	%th{class: "#{c} #{centered_columns.include?(c) ? 'text-center' : ''}"}= t("sandbox.video_campaign.#{c}")
