#refresh_token_explanation_popover_content
	.content-block
		%strong Refresh Token
		is the set of rights for access delegation, commonly used as a way for Internet users to grant websites or applications access to their information on other websites but without giving them the passwords. This mechanism is used by all big companies such as Amazon, Google, Facebook, Microsoft, Twitter, etc to permit the users to share information about their accounts with third party applications or websites.
	.content-block
		Generally,
		%strong Refresh Token
		provides to clients a
		%strong secure delegated access
		to server resources on behalf of a resource owner. It specifies a process for resource owners to authorize third-party access to their server resources without sharing their credentials.
	.content-block
		Refresh Token from your Google Account will access the following APIs:
		%ul
			%li= link_to 'Youtube Data API', 'https://developers.google.com/identity/protocols/googlescopes#youtubev3', target:'_BLANK'
			%li= link_to 'Youtube Analytics API', 'https://developers.google.com/identity/protocols/googlescopes#youtubeAnalyticsv1', target: '_BLANK'
			%li= link_to 'Google+ API', 'https://developers.google.com/identity/protocols/googlescopes#plusv1', target: '_BLANK'
			%li= link_to 'Google+ Domains API', 'https://developers.google.com/identity/protocols/googlescopes#plusDomainsv1', target: '_BLANK'
