.admin_sandbox_youtube_video{
  .bootstrap-tagsinput{
    width:100%;
  }
  .description_add{
    margin-top: 10px;
  }
  .description_row{
    padding: 5px 0px 5px 0px;
  }
  .delete-link{
    margin: 0px 0px 5px 5px;
  }

}
