.panel-body
  .row
    %table.chanel_details_table
      %tr= render partial: "sandbox/video_blenders/youtube_setup/video_setup/video_thumbnail"
      %tr= render partial: "sandbox/video_blenders/youtube_setup/video_setup/video_title_patterns"
      %tr= render partial: "sandbox/video_blenders/youtube_setup/video_setup/video_description"
      %tr= render partial: "sandbox/video_blenders/youtube_setup/video_setup/video_tags"
