%footer
  .container
    .wrapper1
      .string1
        %i.echo_video_blender_icon.glyphicon.glyphicon-film
        %span Echo Video Blender
        %div{style: "clear:both"}
      .string2 Terms  conditions - Privacy policy - Copyrights Notification
    .wrapper2
      %p Echo Video Blender is a project by Valynteen Solutions
      %p
        Copyright &copy;
        = Time.now.year
        Valynteen Solutions.
