- large_modal ||= false
.modal{class: "modal-wide fade #{modal_name}_modal", id: "#{modal_name}_modal"}
  .modal-dialog{:class => ('modal-lg' if large_modal == true)}
    .modal-content
      .modal-header
        %button{type: 'button', class: 'close', data: {dismiss: 'modal'}, 'area-label' => t(:close)}
          %span{'area-hidden' => true} &times;
        %h4{class: 'modal-title'}= modal_title
      .modal-body
        = render partial: modal_body_partial rescue nil
      .modal-footer
        %button{type: 'button', class: 'btn btn-default', data: {dismiss: 'modal'}}= t('close')
:javascript
  $(function(){
    $('select').select2({
      allowClear: true,
      placeholder: "Choose ..."
    })
  })
